@import url(https://fonts.googleapis.com/css?family=Montserrat:300&display=swap);

@font-face {
	font-family: Muli;
	font-weight: 900;
	font-style: normal;
	src: url(../fonts/Muliblack.woff) format("woff"), url(../fonts/Muliblack.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: Muli;
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/Muliextrabold.woff) format("woff"), url(../fonts/Muliextrabold.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: Muli;
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/Mulibold.woff) format("woff"), url(../fonts/Mulibold.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: Muli;
	font-weight: 400;
	font-style: italic;
	src: url(../fonts/Muliitalic.woff) format("woff"), url(../fonts/Muliitalic.woff2) format("woff2");
	font-display: swap;
}
