@import "./vars";
@import "./fonts";
@import "./modules/logo";
@import "./modules/buttons";
@import "./modules/header";
@import "./modules/titles";
@import "./modules/form";
@import "./modules/company";
@import "./modules/animation";
@import "./mixins/media";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

body {
	font-size: 16px;
	font-family: Muli, sans-serif;
	font-weight: 700;
	color: $titleColor;
}
.container {
	max-width: 1630px;
	padding: 0 15px;
	margin: 0 auto;
}
