.benefits {
	display: flex;
	flex-wrap: wrap;
	padding: 107px 0;
	justify-content: center;

	@include media(500) {
		padding: 45px 0;
	}
}

.benefit {
	flex: 1 0 250px;
	padding: 0 15px;
	text-align: center;
	margin-bottom: 30px;
	color: $titleColor;

	&__img {
		margin-bottom: 20px;
	}

	&__title {
		font-size: 25px;
		font-weight: 800;
		margin-bottom: 20px;
	}

	&__desc {
		font-size: 16px;
		color: $mainTextColor;
		line-height: 26px;
	}
}
